{% extends 'index.html' %}

{% block title %}Step 2{% endblock %}

{% block content %}
<div class="container-fluid px-1 py-2 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <h2>Prabhudas Lilladher</h2>

            <h3 class="blue-text">Portfolio Management Services</h3>
             <input type="hidden" id="progress_bar"  value="1">
            <div class="progress-container">
              <div class="progress-bar-highlight"></div> <!-- This represents the highlighted bar -->
              <div class="progress-step completed">1</div>
              <div class="progress-step completed">2</div>
              <div class="progress-step completed">3</div>
              <div class="progress-step active">4</div>
            </div>
            <div class="card">
                <h5 class="text-center mb-4">Basic Details</h5>

                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    <div class="alert alert-danger" role="alert">
                      {% for category, message in messages %}
                        {{ message }}<br>
                      {% endfor %}
                    </div>
                  {% endif %}
                {% endwith %}
                <form class="form-card " method="POST" action="/step-two-validate">
                    <div class="row p-2 justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">Full Name<span class="text-danger"> *</span></label>
                            <input class="alphavalid" type="text" id="fullname" name="fullname" value="{{ data[0]['fullname'] if data  and data[0]['fullname'] else '' }}" placeholder="Enter your first name">
                        </div>
                        <div class="form-group col-sm-6 flex-column">
                            <label class="form-control-label px-3">Gender<span class="text-danger"> *</span></label>
                            <br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="genderMale" value="Male"
                                    {% if data  and data[0]['gender'] == 'Male' %} checked {% endif %}>
                                <label class="form-check-label" for="genderMale">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="genderFemale" value="Female"
                                    {% if data  and data[0]['gender'] == 'Female' %} checked {% endif %}>
                                <label class="form-check-label" for="genderFemale">Female</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="genderOther" value="transgender"
                                    {% if data  and data[0]['gender'] == 'transgender' %} checked {% endif %}>
                                <label class="form-check-label" for="genderOther">Transgender</label>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">Date of Birth<span class="text-danger"> *</span></label>
                            <input class="datepicker" type="text" id="dob" name="dob" value="{{ data[0]['dob'] if data  and data[0]['dob'] else '' }}" placeholder="" >
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">Address<span class="text-danger"> *</span></label>
                            <input class="universalvalid" type="text" id="address" value="{{ data[0]['address'] if data  and data[0]['address'] else '' }}" name="address" placeholder="" >
                        </div>
                    </div>

                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column">
                            <label class="form-control-label px-3">Income Range (Value in Lakh)<span class="text-danger"> *</span></label><br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="income" id="inlineCheckbox1" value="1"
                                    {% if data  and '1' in data[0]['income'] %} checked {% endif %}>
                                <label class="form-check-label" for="inlineCheckbox1">1 to 7</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="income" id="inlineCheckbox2" value="2"
                                    {% if data  and '2' in data[0]['income'] %} checked {% endif %}>
                                <label class="form-check-label" for="inlineCheckbox2">7 to 10</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="income" id="inlineCheckbox3" value="3"
                                    {% if data  and '3' in data[0]['income'] %} checked {% endif %}>
                                <label class="form-check-label" for="inlineCheckbox3">10 and above</label>
                            </div>
                        </div>

                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">Occupation<span class="text-danger"> *</span></label>
                            <div class="form-group">
                                <select name="occupation" class="form-control" id="exampleFormControlSelect1">
                                    <option>Select Occupation</option>
                                    {% for item in oc_list %}
                                    <option value="{{ item.id }}" {% if data  and item.id == data[0]["occupation"] %} selected {% endif %}>
                                        {{ item.occupation_name }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="form-group col-sm-6">
                            <button id="prevButton" type="button" class="btn btn-primary btn-block">Prev</button>
                        </div>
                        <div class="form-group col-sm-6">
                            <button type="submit" class="btn btn-primary btn-block">Next</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/step2.js') }}"></script>
{% endblock %}

