<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terms And Conditions</title>
</head>
<body>
<h3>1. Account opening and registration</h3>
<ol class="inner-list">
    <li><span>1.1</span><span>Before availing of any online trading services on the Platform, the Client is required to complete Prabhudas Lilladher
 registration process, as may be prescribed from time to time. To register yourself, you are required to follow the procedure mentioned on the Platform, along with any instructions communicated to you by Prabhudas Lilladher
 employees or representatives. Your account shall be opened after submission of the requisite documentation and its verification and at the sole discretion of Prabhudas Lilladher
.</span></li>
    <li><span>1.2</span><span>Online account opening using Aadhaar is currently available only for residents of India opening individual accounts, where the person’s mobile number is linked to the Aadhaar. This is not permissible for non-residents or for any manner of non-individual accounts (HUFs, companies, LLPs, partnerships, etc.).</span></li>
    <li><span>1.3</span><span>In case of online account opening using Aadhaar, data will be fetched from the KYC database and cannot be edited.</span></li>
    <li><span>1.4</span><span>Any pickup of the required documentation pertaining to the account opening procedure is subject to the availability of our representatives at any particular time and location.</span></li>
</ol>
</li>
</body>
</html>